# Entornos virtuales
venv/
.env
*.env


# Cachés de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Jupyter (si aplicara)
.ipynb_checkpoints/

# Archivos de compilación
*.so
*.dll
*.dylib

# Archivos temporales o de backup
*.swp
*.bak
*.tmp
*~

# Librerías (si las subes localmente, pero en general no se recomienda)
site-packages/

# Archivos de bases de datos locales
*.sqlite3
*.db
